body {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    min-height: 100vh;
    font-size: 2em;
}

input {
    border: 2px solid gray;
    border-radius: 15px;
    height: 40px;
    text-align: center;
}

button {
    border: 2px solid gray;
    border-radius: 15px;
    background: gray;
    color: white;
    height: 40px;
    width: 70px
}

button:hover {
    background: white;
    color: gray;
}
