* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
}

#container {
    height: 200px;
    width: 500px;
}

#number {
    height: 25px;
    width: 250px;
    margin: auto;
    margin-top: 50px;
    text-align: center;
}

#increment {
    height: 25px;
    width: 100px;
    margin-top: 50px;
    margin-left: 125px;
}

#increment:hover {
    background-color: green;
}

#decrement {
    height: 25px;
    width: 100px;
    margin-top: 50px;
    margin-left: 50px;
}

#decrement:hover {
    background-color: red;
}

